footer{
    flex-direction: column;
}
#aboutUsDiv{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 20px;
    width: auto;
}
#contactUsDiv{
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
    width: auto;
}